/CustomerApp.v12.suo
/packages
/.DS_Store
/CustomerApp.userprefs
/CustomerApp/.DS_Store
/CustomerApp/CustomerApp.Droid/obj
/CustomerApp/CustomerApp.Droid/bin
/CustomerApp/CustomerApp.Droid/.DS_Store
/CustomerApp/CustomerApp.iOS/obj/iPhone/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/CustomerApp/CustomerApp.iOS/obj/iPhone/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/CustomerApp/CustomerApp.iOS/obj/iPhone/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/CustomerApp/CustomerApp.iOS/obj/iPhone/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/CustomerApp/CustomerApp/bin/Debug/CustomerApp.dll
/CustomerApp/CustomerApp/bin/Debug/CustomerApp.dll.config
/CustomerApp/CustomerApp/bin/Debug/CustomerApp.pdb
/CustomerApp/CustomerApp/bin/Debug/Geolocator.Plugin.Abstractions.dll
/CustomerApp/CustomerApp/bin/Debug/Geolocator.Plugin.Abstractions.pdb
/CustomerApp/CustomerApp/bin/Debug/Geolocator.Plugin.Abstractions.xml
/CustomerApp/CustomerApp/bin/Debug/Geolocator.Plugin.dll
/CustomerApp/CustomerApp/bin/Debug/Geolocator.Plugin.pdb
/CustomerApp/CustomerApp/bin/Debug/Geolocator.Plugin.xml
/CustomerApp/CustomerApp/bin/Debug/Newtonsoft.Json.dll
/CustomerApp/CustomerApp/bin/Debug/Newtonsoft.Json.xml
/CustomerApp/CustomerApp/bin/Debug/System.Net.Http.Extensions.dll
/CustomerApp/CustomerApp/bin/Debug/System.Net.Http.Extensions.xml
/CustomerApp/CustomerApp/bin/Debug/System.Net.Http.Primitives.dll
/CustomerApp/CustomerApp/bin/Debug/System.Net.Http.Primitives.xml
/CustomerApp/CustomerApp/bin/Debug/System.Net.Http.dll
/CustomerApp/CustomerApp/bin/Debug/System.Net.Http.xml
/CustomerApp/CustomerApp/bin/Debug/Xamarin.Forms.Core.dll
/CustomerApp/CustomerApp/bin/Debug/Xamarin.Forms.Core.xml
/CustomerApp/CustomerApp/bin/Debug/Xamarin.Forms.Maps.dll
/CustomerApp/CustomerApp/bin/Debug/Xamarin.Forms.Maps.xml
/CustomerApp/CustomerApp/bin/Debug/Xamarin.Forms.Platform.dll
/CustomerApp/CustomerApp/bin/Debug/Xamarin.Forms.Xaml.dll
/CustomerApp/CustomerApp/bin/Debug/Xamarin.Forms.Xaml.xml
/CustomerApp/CustomerApp/obj/Debug/ConfirmAddressPage.xaml.g.cs
/CustomerApp/CustomerApp/obj/Debug/CustomerApp.csproj.App.config
/CustomerApp/CustomerApp/obj/Debug/CustomerApp.csproj.FileListAbsolute.txt
/CustomerApp/CustomerApp/obj/Debug/CustomerApp.dll
/CustomerApp/CustomerApp/obj/Debug/CustomerApp.pdb
/CustomerApp/CustomerApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/CustomerApp/CustomerApp/obj/Debug/LoginPage.xaml.g.cs
/CustomerApp/CustomerApp/obj/Debug/MenuPage.xaml.g.cs
/CustomerApp/CustomerApp/obj/Debug/RegistrationPage.xaml.g.cs
/CustomerApp/CustomerApp/obj/Debug/SideBarList.xaml.g.cs
/CustomerApp/CustomerApp/obj/Debug/StartPage.xaml.g.cs
/CustomerApp/CustomerApp/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/CustomerApp/CustomerApp/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/CustomerApp/CustomerApp/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
